.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

#ticketArea {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

#generateArea h2 {
  font-size: calc(10px + 2vmin);
}

button {
  background-color: rgb(48, 37, 145);
  color: white;
  padding: 1em;
  border-radius: 0.5em;
  font-size: calc(5px + 1vmin);
}

button:disabled {
  background-color: rgb(239, 239, 239);
  color: rgb(135, 144, 154);
}
